{% extends "base.html" %}
{% block contenido %}
<div class="auth-form" style="max-width: 400px; margin: 50px auto; color: white;">
    <h2>Recuperar Contraseña</h2>
    <p>Introduce tu teléfono y la nueva contraseña que desees usar.</p>
    
    <form method="POST">
        <div class="form-group">
            <label>Tu Teléfono:</label>
            <input type="text" name="telefono" placeholder="600000000" required class="form-control">
        </div>
        <div class="form-group">
            <label>Nueva Contraseña:</label>
            <input type="password" name="password" placeholder="Nueva clave" required class="form-control">
        </div>
        <button type="submit" class="btn-reservar">Actualizar Contraseña</button>
    </form>
    <p style="margin-top: 15px;"><a href="{{ url_for('auth.login') }}">Volver al login</a></p>
</div>
{% endblock %}